<div class="card mb-4 text-center">
  <div class="card-img-wrapper">
    <img class="card-img-top img-responsive location-image" src="{{ mainPhotoUrl || '/assets/placeholder-location.png' }}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-success" (click)="getQrCode()"><i class="fa fa-qrcode"></i></button>
      </li>
      <li class="list-inline-item"><button class="btn btn-info" [routerLink]="['/locations/', location.id]"><i class="fa fa-pencil"></i></button>
      </li>
      <li class="list-inline-item"><button class="btn btn-danger" (click)="deleteCategoryModal(location.id, deleteModal)"><i class="fa fa-trash"></i></button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h5 class="card-title text-center mb-1"> {{ location.name }}</h5>
  </div>
  <p class="card-text text-muted text-center">{{ location.categoryName }}</p>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
      <h5>Do you want to delete this location?</h5>
      <button type="button" class="btn btn-danger mr-2" (click)="confirmDeletion()">Delete</button>
      <button type="button" class="btn btn-success" (click)="close()">Close</button>
  </div>
</ng-template>